<div class="mastery-assignment-content">
    <header class="mastery-assignment-header">
        <h2>{{masteryName}}</h2>
        <p class="mastery-info">
            <span class="mastery-level">{{localize "CREATURE.MasteryAssignment.Level"}}: {{masteryLevel}}</span>
        </p>
    </header>

    <div class="skill-selection">
        <label for="skill-select">{{localize "CREATURE.MasteryAssignment.SelectSkill"}}:</label>
        <select class="skill-select" id="skill-select">
            {{#each availableSkills}}
            <optgroup label="{{this.label}}">
                {{#each this.skills}}
                <option value="{{this.id}}" {{#if (eq this.id ../../selectedSkillId)}}selected{{/if}}>
                    {{this.label}} {{#if this.value}}({{this.value}}){{/if}}
                </option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
    </div>

    <div class="mastery-list-container">
        {{#if noSkillSelected}}
        <p class="hint">{{localize "CREATURE.MasteryAssignment.SelectSkillFirst"}}</p>
        {{else if hasMasteries}}
        <ul class="mastery-list">
            {{#each masteries}}
            <li class="mastery-list-item {{#if this.isPreselected}}preselected{{/if}}" data-uuid="{{this.uuid}}" title="{{localize 'CREATURE.MasteryAssignment.ClickToAssign'}}">
                <span class="mastery-name">{{this.name}}</span>
                <span class="mastery-level">{{this.level}}</span>
                {{#if this.isPreselected}}<span class="preselect-badge">{{localize "CREATURE.MasteryAssignment.Recommended"}}</span>{{/if}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p class="hint">{{localize "CREATURE.MasteryAssignment.NoMasteriesFound"}}</p>
        {{/if}}
    </div>
</div>
